@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-align: center;
  font-family: 'Cormorant Unicase', serif;
}

main {
  flex-grow: 1;
  min-height: 100%;
}

.Header > img {
  height: auto;
  width: 100%;
}

.Campaign-list a {
  text-decoration: none;
}

.Campaign-list a:hover {
  text-decoration: underline;
  /* color: #333; */
}

.Campaign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Campaign-form input {
  margin: 10px;
  width: 50%;
  text-align: center;
}