@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, label {
  text-align: center;
  font-family: 'Cormorant Unicase', serif;
}

main {
  flex-grow: 1;
  min-height: 100%;
}
